<h1>Conjunto de Imagens</h1>

<table class="table table-responsive table-condensed table-striped">
  <thead>
    <tr>
      <th>Nome do Conjunto</th>
      <th>Ações</th>
    </tr>
  </thead>

  <tbody>
    <% @image_collections.each do |image_collection| %>
    <tr>
      <td><%= image_collection.name %></td>

      <td align="left" witdh="60%">
        <%= link_to image_collection, class: "btn btn-success btn-sm" do %>
          <%= fa_icon "eye", text: "Ver" %>
        <% end %>

        <%= link_to edit_image_collection_path(image_collection), class: "btn btn-warning btn-sm" do %>
          <%= fa_icon "edit", text: "Editar" %>
        <% end %>

        <%= link_to image_collection, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" do %>
          <%= fa_icon "close", text: "Excluir" %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova Coleção de Imagens', new_image_collection_path, class: "btn btn-primary" %>
